/* ------------------- Font Variables ------------------- */
/* ------------------- End of Font Variables ------------------- */
/* ------------------- Color Variables ------------------- */
/* ------------------- Primary Blues ------------------- */
/* ------------------- End of Primary Blues ------------------- */
/* ------------------- Supporting Blues ------------------- */
/* ------------------- End of Supporting Blues ------------------- */
/* ------------------- Background Colors ------------------- */
/* ------------------- End of Background Colors ------------------- */
/* ------------------- Text Colors ------------------- */
/* ------------------- End of Text Colors ------------------- */
/* ------------------- Validation Colors ------------------- */
/* ------------------- End of Validation Colors ------------------- */
/* ------------------- End of Color Variables ------------------- */
/* ------------------- Typography Variables ------------------- */
h1 {
  font-size: 56px;
  line-height: 61.6; }

/* ------------------- End of Typography Variables ------------------- */
/* HPSimplifiedRegular */
@font-face {
  font-family: 'HPSimplifiedRegular';
  src: url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-eot.eot");
  src: url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-eot.eot?#iefix") format("embedded-opentype"), url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-woff.woff") format("-woff.woff"), url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* HPSimplifiedLight */
@font-face {
  font-family: 'HPSimplifiedLight';
  src: url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-light-eot.eot");
  src: url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-light-eot.eot?#iefix") format("embedded-opentype"), url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-light-woff.woff") format("-woff.woff"), url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-light-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* HPSimplified - to support backward compatibility with the older version of the font family names */
@font-face {
  font-family: 'HPSimplified';
  src: url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-eot.eot");
  src: url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-eot.eot?#iefix") format("embedded-opentype"), url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-woff.woff") format("-woff.woff"), url("http://www8.hp.com/us/en/images/fonts/hpi/hps/latin-e-regular-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* SEVEN REGULAR */
@font-face {
  font-family: 'HPSeven';
  src: url(http://www8.hp.com/us/en/images/fonts/no-seven-regular-eot.eot);
  src: url(http://www8.hp.com/us/en/images/fonts/no-seven-regular-eot.eot?#iefix) format("embedded-opentype"), url("http://www8.hp.com/us/en/images/fonts/no-seven-regular-woff.woff") format("woff"), url("http://www8.hp.com/us/en/images/fonts/no-seven-regular-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1 {
  color: #BF2026; }

h2 {
  color: #0096D6; }
